.recruiter-main-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.container .card,
.container .button {
    position: relative;
    height: 250px;
    display: flex;
    width: 45%;
    margin: 30px 0;
}

.container .card {
    background: #fff;
}

.container .button {
    background: transparent;
}

.container .card .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.container .card:hover .imgBx {
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    background: #ff0057;
}

.container .card .imgBx:before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 6em;
    color: rgba(255, 255, 255, .05);
    font-weight: 700;
}

.container .card .imgBx img {
    max-width: 100px;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.container .card:hover .imgBx img {
    max-width: 75px;
}

.container .card .content {
    position: absolute;
    right: 0;
    width: calc(100% - 100px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .content h3 {
    margin-bottom: 5px;
    font-size: 24px;
}

.container .card .content a, #popup div a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: #fff;
}

.container#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

@media (max-width: 992px) {
    .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .container .card {
        width: 400px;
    }
}

@media (max-width: 768px) {
    .container .card {
        width: 300px;
        flex-direction: column;
        height: auto;
    }

    .container .card .imgBx {
        position: relative;
    }

    .container .card .imgBx,
    .container .card:hover .imgBx {
        width: 100%;
        height: 200px;
        left: 0;
    }

    .container .card .imgBx img,
    .container .card:hover .imgBx img {
        max-width: 100px;
    }

    .container .card .content {
        position: relative;
        width: 100%;
    }
}

#popup div {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup div.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}