.engagement-item {
    position: relative;
    height: 250px;
    background: #fff;
    display: flex;
    width: 45%;
    margin: 30px 0;
}

.engagement-item .content {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.engagement-item .content h3 {
    margin-bottom: 5px;
    font-size: 24px;
}

.engagement-item .content .btns {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -120%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}